---
import Layout from '../layouts/Layout.astro';
import ApoyoRevalida from '../sections/ApoyoRevalida.astro';
import Programas from '../sections/Programas.astro';
import Hero from '../sections/Hero.astro';
import Idiomas from '../sections/Idiomas.astro';
import Footer from '../sections/Footer.astro';
import Paises from '../sections/Paises.astro';
import Cursos from './Cursos.astro';
---

<Layout>
	<div>
		<Hero />
		<Paises />
		<Programas />
		<ApoyoRevalida />
		<Idiomas />
		<Footer />
	</div>

	<!-- <Cursos/> -->
</Layout>


<style>
	div {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
</style>