---
import RedirectIcon from "../icons/RedirectIcon.astro"

const { path, desc = "Imagen de la card", title, className, courseId } = Astro.props
---

<a href="#" data-course-id={courseId}>
    <article>
        <header>
            <img src={ path } alt={ desc } class={ className }>
        </header>
        <footer>
            <slot name="icon">
                <RedirectIcon />
            </slot>
            <h2>{ title }</h2>
        </footer>
    </article>
</a>

<style>
    a {
        grid-column: span 2;

        text-decoration: none;
        color: #ffffff;
        display: block;
        transition:
            transform 0.25s ease,
            box-shadow 0.25s ease;
    }

    article {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; 
        border: 1px solid var(--color-bg-card-border);
        border-radius: 1rem;

        overflow: hidden; /* evita que la imagen se salga en scale */
        transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        background: var(--color-container-bg); /* fallback si no usas var */
    }

    img {
        display: block;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/7.7;
        border-radius: 1rem;
    }
    h2 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }
    footer {
        padding-inline: 0.5rem;
        padding-block: 0.75rem;
        border-radius: 1rem;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
    }

    a:hover article {
        transform: translateY(-8px) scale(1.03);
        box-shadow:
            0 16px 32px rgba(0, 0, 0, 0.12),
            0 8px 16px rgba(0, 0, 0, 0.08);
        background-color: white; /* o tu color deseado */
        color: black;
    }

        /* Mejora el ícono (opcional) */
    a:hover svg {  /* ajusta el selector según tu icono */
        transform: translateX(4px);
        transition: transform 0.25s ease;
    }


    @media screen and (max-width: 400px) {
        a {
            grid-column: span 1;
        }
    }

@media screen and (min-width: 850px) {
        img {
            aspect-ratio: 1;
        }
        a {
            grid-column: auto;
        }
    }

</style>