---
import StarIcon from "../icons/StarIcon.astro";

// @ts-ignore - Astro global is provided by the Astro runtime in .astro files
const { path, desc } = Astro.props;

---

<blockquote>
    <header>
        <q>
            <slot name="quote" />
        </q>
    </header>
    <footer>
        <img src={ path } alt={ desc }>
        <aside>
            <p class="author-name">
                <slot name="author" />
            </p>
            <div class="stars">
                <StarIcon />
                <StarIcon />
                <StarIcon />
                <StarIcon />
                <StarIcon />
            </div>
            <small>
                <slot name="role" />
            </small>
        </aside>
    </footer>
</blockquote>

<style>
    blockquote {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        border: 1px solid var(--color-bg-card-border);
        border-radius: 1rem;
        padding: 1.75rem;
        margin: 0;
    }
    img {
        max-width: 100%;
        aspect-ratio: 1;
        width: 3.5rem;
        border-radius: 100%;
    }

    footer {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    p {
        margin: 0
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .author-name {
        font-weight: 600;
        color: var(--color-text-bold);
    }

    .stars {
        display: flex;
        gap: 2px;
        color: #96FF64;
    }
    small {
        opacity: 0.7;
        margin-top: 0.125rem;
    }

</style>