---
import CardLinkRectangle from "../components/CardLinkRectangle.astro";
import CardLinkSquare from "../components/CardLinkSquare.astro";
import CTAButton from "../components/CTAButton.astro";
import TestimonyCard from "../components/TestimonyCard.astro";
import TrustNumbers from "../components/TrustNumbers.astro";
import Wrapper from "../components/Wrapper.astro";
import GraduateHatIcon from "../icons/GraduateHatIcon.astro";
import HSBCIcon from "../icons/HSBCIcon.astro";
---

<Wrapper classname="mobile-wrapper">
    <header class="heading-icon">
        <GraduateHatIcon />
        <h2>¡Conocé nuestros programas!</h2>
    </header>

    <section class="trust-container">
        <TrustNumbers num="300" title="Egresados" />
        <TrustNumbers num="1200" title="Clases impartidas" />
        <TrustNumbers num="15" title="Trayectoria" />
    </section>

    <section class="companies">
        <p>
            Aprende nuevas habilidades para mejorar tu empleabilidad en el rubro
            que quieras.
        </p>
        <small>Avalados y certificados por:</small>

        <div class="logos">
            <HSBCIcon />
            <HSBCIcon />
            <HSBCIcon />
        </div>
    </section>

    <section class="grid">
        <CardLinkSquare
            title="Salud y Belleza"
            path="img/saludybelleza.png"
            desc="Cursos de salud y belleza"
        />
        <CardLinkSquare
            title="Administración"
            path="img/administracion.png"
            desc="Cursos de administración"
        />
        <CardLinkRectangle
            title="Organización de eventos"
            path="img/organizacioneventos.png"
            desc="Cursos de organización de eventos"
        />
        <CardLinkSquare
            title="Oficios"
            path="img/oficios.png"
            desc="Cursos de oficios"
        />
        <CardLinkSquare
            title="Diseño y Marketing"
            path="img/diseniomarketing.png"
            desc="Cursos de diseño y marketing"
        />
    </section>

    <section class="heading-icon">
        <h2>Experiencias de estudiantes</h2>
    </section>

    <section>
        <TestimonyCard path="img/autor1.png">
            <Fragment slot="quote">
                Las clases son excelentes a nivel profesional al igual que los
                docentes, super cálidos, amables y dispuestos a enseñarte hasta
                que aprendas de verdad
            </Fragment>
            <Fragment slot="author"> María G. </Fragment>
            <Fragment slot="role"> Egresada en Marketing </Fragment>
        </TestimonyCard>
    </section>

    <footer>
        <CTAButton text="Quiero encontrar mi curso ideal" />
    </footer>
</Wrapper>

<style>
    .heading-icon {
        text-align: center;
    }

    .trust-container {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .companies {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0.5rem;
    }
    .companies small {
        font-weight: 600;
    }
    .logos {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .row {
        display: flex;
        gap: 0.75rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
    }

    h2,
    p {
        margin: 0;
    }
    h2 {
        font-weight: 600;
    }

    @media screen and (max-width: 400px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }

</style>
