---
import CardCountry from "../components/CardCountry.astro";
import ArgentinaFlagIcon from "../icons/ArgentinaFlagIcon.astro";
import ParaguayFlagIcon from "../icons/ParaguayFlagIcon.astro";
import ModalGrid from "../components/ModalGrid.astro";
import ModalCurso from "../components/ModalCurso.astro";
---

<section>
    <CardCountry modalId="modal-programas-argentina">
        <ArgentinaFlagIcon slot="flag-icon" />
        <h4 slot="title">Argentina</h4>
    </CardCountry>
    <CardCountry modalId="modal-programas-paraguay">
        <ParaguayFlagIcon slot="flag-icon" />
        <h4 slot="title">Paraguay</h4>
    </CardCountry>
</section>

<ModalGrid id="modal-programas-argentina" title="Cursos con salida laboral" />
<ModalGrid id="modal-programas-paraguay" title="Cursos con salida laboral" />

<!-- ModalCurso is needed because CardLink inside ModalGrid will trigger it -->
<ModalCurso />

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    h4 {
        margin: 0;
        font-weight: 600;
        font-size: 1.25rem;
    }

    /* @media screen and (min-width: 850px) {
        section {
            display: none;
        }
    } */
</style>