---
import CardLink from "../components/CardLink.astro";
import CTAButton from "../components/CTAButton.astro";
import TestimonyCard from "../components/TestimonyCard.astro";
import TrustNumbers from "../components/TrustNumbers.astro";
import Wrapper from "../components/Wrapper.astro";
import GraduateHatIcon from "../icons/GraduateHatIcon.astro";
import HSBCIcon from "../icons/HSBCIcon.astro";
import ModalCurso from "../components/ModalCurso.astro";
import Icon from "../components/Icon.astro";
---

<Wrapper className="grid-wrapper">
    <header class="heading-icon h-grid">
        <GraduateHatIcon />
        <h2>¡Conocé nuestros programas!</h2>
    </header>

    <section class="trust-container">
        <TrustNumbers num="300" title="Egresados" />
        <TrustNumbers num="1200" title="Clases impartidas" />
        <TrustNumbers num="15" title="Trayectoria" />
    </section>
    <section class="description">
        <p>
            Aprende nuevas habilidades para mejorar tu empleabilidad en el rubro
            que quieras.
        </p>
    </section>

    <section class="companies">
        <small>Avalados y certificados por:</small>

        <div class="logos">
            <img
                    src="img/ministerio-educ-paraguay-white.webp"
                    alt="Logo de Ministerio de Educación y Ciencias de Paraguay"
                    class="MinEducParaguay"
                />
        </div>
    </section>

    <section class="card-wrapper">
        <hgroup>
            <h4>Cursos con salida laboral</h4>
        </hgroup>
        <section class="grid">
            <!-- Main course cards -->
            <CardLink
                title="Adultos Mayores"
                path="img/mayores.jpg"
                desc="Cursos de adultos mayores"
                courseId="adultos-mayores"
            >
                <Icon icon="psicologia" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Bienestar y Cuidado personal"
                path="img/cuidado.webp"
                desc="Cursos de bienestar y cuidado personal"
                courseId="cuidado"
            >
                <Icon icon="cuidado_personal" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Administración"
                path="img/administracion.png"
                desc="Cursos de administración"
                courseId="administracion"
            >
                <Icon icon="admin_recursos" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Eventos sociales y Celebraciones"
                path="img/organizacioneventos.png"
                desc="Cursos de organización de eventos"
                courseId="organizacion-eventos"
            >
                <Icon icon="eventos" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Diseño y Marketing"
                path="img/diseniomarketing.png"
                desc="Cursos de diseño y marketing"
                courseId="disenio-marketing"
            >
                <Icon icon="dis_img" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Salud"
                path="img/salud.png"
                desc="Cursos de salud"
                courseId="salud"
            >
                <Icon icon="salud" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Educación física y Fitness"
                path="img/fitness.png"
                desc="Cursos de educación física y fitness"
                courseId="educacion-fisica-fitness"
            >
                <Icon icon="educ_fisica_fitness" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Desarrollo Digital"
                path="img/digital.png"
                desc="Cursos de desarrollo digital"
                courseId="desarrollo-digital"
            >
                <Icon icon="desarrollo_digital" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Desarrollo Personal"
                path="img/personal.webp"
                desc="Cursos de desarrollo personal"
                courseId="desarrollo-personal"
            >
                <Icon icon="desarrollo_personal" width="30" slot="icon" />
            </CardLink>
            <CardLink
                title="Herramientas tecnologicas"
                path="img/herramientas-tecnologicas.png"
                desc="Cursos de herramientas tecnologicas"
                courseId="herramientas-tecnologicas"
            >
                <Icon icon="herramientas_tecnologicas" width="30" slot="icon" />
            </CardLink>
        </section>
    </section>

    <section class="heading-icon h-testimonies">
        <h2>Experiencias de estudiantes</h2>
    </section>

    <section class="testimonies">
        <TestimonyCard path="img/autor1.png">
            <span slot="quote">
                Las clases son excelentes a nivel profesional al igual que los
                docentes, super cálidos, amables y dispuestos a enseñarte hasta
                que aprendas de verdad
            </span>
            <span slot="author"> María G. </span>
            <span slot="role"> Egresada en Marketing </span>
        </TestimonyCard>
    </section>

    <footer class="button">
        <CTAButton 
            text="Quiero encontrar mi curso ideal" 
            waMessage="¡Hola! Les escribo desde su web porque quiero encontrar mi curso ideal en CAM." />
    </footer>

    <!-- Modal de cursos global para esta sección -->
    <ModalCurso />
</Wrapper>

<style>
    .heading-icon {
        text-align: center;
    }

    .trust-container {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .description {
        text-align: center;
    }

    .companies {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0.5rem;
    }
    .companies small {
        font-weight: 600;
    }
    .logos {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }
    .MinEducParaguay {
        width: 120px;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        grid-column: 1/5;
        grid-row: 5;

        padding: 0.5rem;
        background: #141414;
        background: linear-gradient(
            45deg,
            rgba(20, 20, 20, 1) 0%,
            rgba(30, 30, 30, 1) 35%
        );
        border-radius: 1rem;
    }
    .card-wrapper hgroup h4 {
        font-size: 2rem;
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        background-color: #141414;
        border: 1px solid white;
        border-radius: 1rem;
    }

    .row {
        display: flex;
        gap: 0.75rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        align-items: stretch;
    }

    h2,
    p {
        margin: 0;
    }
    h2 {
        font-weight: 600;
    }

    @media screen and (max-width: 450px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 849px) {
        .grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 850px) {
        .h-grid {
            grid-column: 1/5;
            grid-row: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 1.5rem;
        }
        .trust-container {
            grid-column: 1/5;
            grid-row: 2;
        }
        .description {
            grid-column: 1/5;
            grid-row: 3;
        }
        .description p {
            max-width: 42ch;
            font-size: 1.5rem;
            margin-inline: auto;
        }
        .companies {
            grid-column: 2/4;
            grid-row: 4;
        }
        .card-wrapper {
        }
        .grid {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 1fr;
            /* grid-column: 1/5;
            grid-row: 5; */
        }
        .grid > * {
            min-width: 0;
        }

        .h-testimonies {
            font-size: 1.5rem;
            grid-column: 2/4;
            grid-row: 6;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .testimonies {
            grid-column: 2/4;
            grid-row: 7;
        }
        .button {
            grid-column: 2/4;
            grid-row: 8;
        }
    }

    @media screen and (min-width: 1200px) {
        .grid {
            grid-template-columns: repeat(6, 1fr);
        }
    }
</style>
