---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-clash-display" />
		<title>CAM Cursos</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>


	:root {
		/* Text */
		--color-text-body: #EDF0F4;
		--color-text-bold: #f1f1f1;
		--color-text-heading: #fcfcfc;

		/* Container/Wrapper */
		--color-container-bg: rgb(15, 15, 15);

		/* Backgrounds */
		--color-bg-wrapper: #f4f4f9;
		--color-bg-card: #ffffff;
		--color-bg-card-border: #dcdcdc;

		/* Icons & Buttons */
		--color-icon: #eeeeee;
		--color-button: #4caf50;
		--color-button-hover: #3d8b40;

		/* SVG Logos */
		--color-logo: #000;
	}   

	html,
	body {
		padding: 8px;
		margin: 0;
		
		background-color: #000;

		font-family: var(--font-clash-display), sans-serif;
		color: var(--color-text-body);
	}
</style>
